/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  select,
  select[multiple],
  textarea {
    @apply block w-full rounded-md shadow-sm text-base h-10 pl-2 pr-2 mb-3 border border-indigo-400;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply block rounded-md shadow-sm;
  }
}

html {
  scroll-behavior: smooth;
}

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.required:after {
  content: " *";
  color: red;
}
